<!DOCTYPE html>
<html>

<head>
  <title>
    <%= maintitle %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/JavaScript">
    function timedRefresh(timeoutPeriod) { setTimeout( "location.reload(true);",timeoutPeriod); }
  </script>

  <script type="text/javascript">
    function pagestate_ctrl(pagestate_in) {
      var show_page = '#' + pagestate_in
      var hide_page = 'div:not(#' + pagestate_in + ')'
      $(show_page).show()
      $(hide_page).hide()
      $("#banner_image").show()
    }

    function pagestate_alloff() {
      $('div:not(#0)').hide()
      $("#banner_image").show()
    }
  </script>

  <script>
    var data = <%-JSON.stringify(data)%>
    var mode = 'dev' // otherwise set mode = 'prod'
    var title = data.title
    var story = data.story
    var content = data.content
    var urls = []
    for (var key in content) {
      console.log(key + ': ' + content[key]);
      urls.push(content[key])
    }
    var pic
    var picLength
    var index_loader = 0

    $(document).ready(function() {

      // on startup metadata save duration
      var duration;
      var vid = document.getElementById("videoPlayer");
      vid.onloadedmetadata = function() {
        console.log("Meta data for video loaded");
        duration = vid.duration
        console.log('duration: ' + duration)
        piclength = duration / urls.length
      };

      // swap the picture
      document.getElementById("img").src = urls[0];

      // during playback report currenttime
      $("#videoPlayer").on("timeupdate", function(event) {
        var currentTime = this.currentTime
        //console.log('duration: ' + duration)
        //console.log('currentTime: ' + this.currentTime)
      });

      // detect when video-playback complete
      $("#videoPlayer").on("ended", function(event) {
        console.log('refresh... ')
        //location.reload(true);
        window.location.reload(true);
      });

    });
  </script>


</head>

<body>

  <!-- video region -->
  <div id="videoDiv">
    <!-- video itself -->
    <div id="videoBlock">
      <video id="videoPlayer" src="/videos/test_short.MP4" muted controls="false" preload="metadata" autoplay="true" controls> video not supported </video>
      <div id="videoMessage">
        <h1 class="spacer"> HEADLINE: <%= title %> </h1>
        <h2 class="spacer"> STORY: <%= story %> </h2>
        <img id="img"/>
      </div>
    </div>
  </div>

</body>

</html>
