<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <!-- setup Title Tab -->
  <title>
    <%= tabtitle %>
  </title>
  <!-- load jQUery -->
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <!-- load functions -->
  <script type="text/javascript">
    function pagestate_ctrl(pagestate_in) {
      var show_page = '#' + pagestate_in
      var hide_page = 'div:not(#' + pagestate_in + ')'
      $(show_page).show()
      $(hide_page).hide()
      $("#banner_image").show()
    }

    function pagestate_alloff() {
      $('div:not(#0)').hide()
      $("#banner_image").show()
    }

    function timedRefresh(timeoutPeriod) {
      setTimeout("location.reload(true);", timeoutPeriod);
    }
  </script>
  <!-- load documentReady jQuery methods -->
  <script>
    $(document).ready(function() {

      // array to store the image-URLS
      var urls = []
      // array to stores a time-marker per image-URL
      var markers = []
      //array index for currently-displayed image from url-array
      var url_index;
      // length of video
      var vid_duration;
      // display-duration for each image-url in the array
      var pic_duration;
      // define time-regions for pop-up-title, text-display, image-display
      var popupStart = 3.2
      var popupEnd = 5.6;
      // time-period during which popup-title is displayed
      var popup_duration = popupEnd - popupStart;
      var imagesStart = 14.2;
      var imagesEnd = 37.7;
      // time-period during which images/story are displayed
      var image_duration = imagesEnd - imagesStart;

      // parse returned JSON from database
      var data = <%-JSON.stringify(data)%>;
      //console.log(data);
      var mode = 'dev'; // otherwise set mode = 'prod'
      var title = data.title;
      var story = data.story;
      var content = data.content;
      // pass title/story text into innerHTML
      document.getElementById("popup_title_text").innerHTML = 'TITLE: ' + title;
      document.getElementById("panel_title_text").innerHTML = 'TITLE: ' + title;
      document.getElementById("panel_story_text").innerHTML = story;
      console.log("Title:" + title + '\n' + 'Story:' + story)
      //console.log(content);

      // load all image-urls into an array
      for (var key in content) {
        //console.log(key + ': ' + content[key]);
        urls.push(content[key]);
        console.log(content[key]);
      }
      pic_duration = image_duration / urls.length;

      // on startup metadata save vid_duration
      var vid = document.getElementById("videoPlayer");
      vid.onloadedmetadata = function() {
        vid_duration = vid.duration;
        console.log("Meta data loaded... video_duration:" + vid_duration + ' pic_duration:' + pic_duration);
        // populate the marker-array with timecodes
        for (i = 1; i <= urls.length; i++) {
          markers.push(imagesStart + pic_duration * i);
          console.log('marker: ' + markers[i - 1]);
        }
        console.log('No of image: ' + urls.length);

        // load the first image-URL picture
        url_index = 0
        console.log(urls[url_index]);
        document.getElementById("panel_img").src = urls[url_index];
      };

      // during playback report currenttime
      $("#videoPlayer").on("timeupdate", function(event) {
        var currentTime = this.currentTime;
        if (currentTime >= markers[url_index]) {
          url_index++;
          console.log('New url_index: ' + url_index)
          console.log(urls[url_index]);
          document.getElementById("panel_img").src = urls[url_index];
        }
        //console.log('currentTime: ' + this.currentTime)
        if (currentTime <= popupStart) {
          $("#popup_title").hide()
          $("#panel_img").hide()
          $("#panel_story").hide()
          $("#panel_title").hide()
        } else if (currentTime >= popupStart && currentTime <= popupEnd) {
          $("#popup_title").show()
        } else if (currentTime >= imagesStart && currentTime <= imagesEnd) {
          // display main_titlein panel
          $("#panel_img").show()
          $("#panel_title").show()
          $("#panel_story").show()
        } else {
          $("#popup_title").hide()
          $("#panel_img").hide()
          $("#panel_story").hide()
          $("#panel_title").hide()
        }
      });

      // detect when video-playback complete.. if true request new-story db-data
      $("#videoPlayer").on("ended", function(event) {
        console.log('video ended... seeking new db-data ')
        //location.reload(true);
        //window.location.reload(true);
        //
        $.get("request_new_story", function(data, status) {
          console.log(data)
          //alert("Data: " + data + "\nStatus: " + status);
          // parse in data
          title = data.title;
          story = data.story;
          console.log("Title:" + title + '\n' + 'Story:' + story)
          content = data.content;
          urls = []
          for (var key in content) {
            //console.log(key + ': ' + content[key]);
            urls.push(content[key]);
          }

          var index_loader = 0;

          // pass text into scroller
          document.getElementById("popup_title_text").innerHTML = 'TITLE: ' + title;
          document.getElementById("panel_title_text").innerHTML = 'TITLE: ' + title;
          document.getElementById("panel_story_text").innerHTML = story;

          //restart video
          var video = document.getElementById('videoPlayer');
          video.currentTime = 0;
          video.load();

        });
      });
    });
  </script>



</head>

<body>
  <!-- fullscreen scripts -->
  <script src="/screenfull/dist/screenfull.js"></script>
  <script>
    $(function() {
      $('#popup_title').click(function() {
        console.log('click')
        screenfull.toggle($('#videoDiv')[0]);
        //screenfull.toggle($('#videoBlock')[0]);
        //screenfull.toggle($('#videoPlayer')[0]);
        //screenfull.toggle($('#videoMessage')[0]);
      });

      function fullscreenchange() {
        var elem = screenfull.element;
        $('#status').text('Is fullscreen: ' + screenfull.isFullscreen);
        if (elem) {
          $('#element').text('Element: ' + elem.localName + (elem.id ? '#' + elem.id : ''));
        }
        if (!screenfull.isFullscreen) {
          $('#external-iframe').remove();
          document.body.style.overflow = 'auto';
        }
      }
      screenfull.on('change', fullscreenchange);
      // Set the initial values
      fullscreenchange();
    });
  </script>

  <!-- video region -->
  <div id="videoDiv">

    <!-- video block -->
    <div id="videoBlock">

      <video id="videoPlayer" width="100%" height="auto" preload="metadata" autoplay="true" muted controls="false" poster="/comp_mp4_v03/comp_mp4_v03-poster.jpg" controls> video not supported
        <source src="/videos/aljazeera-desktop.m4v"></source>
        </video>

      <!-- text overlays -->
      <div id="videoMessage">
        <!-- popup title text -->
        <div id="popup_title" style="display:none">
          <p id="popup_title_text">Default popup-title text... </p>
        </div>
        <!-- panel title text -->
        <div id="panel_title" style="display:none">
          <p id="panel_title_text">Default panel-title text... </p>
        </div>
        <!-- panel title story -->
        <div id="panel_story" style="display:none">
          <p id="panel_story_text">Default panel-story text... </p>
        </div>
        <!-- image url overlays -->
        <img id="panel_img" style="display:none" />
        <!-- scrolling text overlay -->
        <div class="scroll-left" style="display:none">
          <p id="scroller">Default scrolling story text... </p>
        </div>
        <!-- end text overlays -->
      </div>

      <!-- end video block -->
    </div>

    <!-- end video region -->
  </div>

</body>

</html>
