<!DOCTYPE html>
<html>

<head>
  <title>
    <%= tabtitle %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript">
    function pagestate_ctrl(div_vis_in) {
      var show_div = '#' + div_vis_in
      var hide_div = 'div:not(#' + div_vis_in + ')'
      $(show_div).show()
      $(hide_div).hide()
      $("#banner_image").show()
    }

    function pagestate_alloff() {
      $('div:not(#0)').hide()
      $("#banner_image").show()
    }
  </script>
  <script>
    // ENV mode for console.logging
    var mode
    var title
    var story
    $(document).ready(function() {
      //Submit request for systems ENV-mode:
      $.ajax({
        type: 'GET',
        url: '/mode',
        success: function(response) {
          mode = response
          console.log('client_mode: ' + mode)
        },
        error: function(request, textStatus, errorThrown) {
          console.log('client_mode not reported')
        }
      });
      // disable RETURN key in text areas
      document.getElementById('title').addEventListener('keydown', function(k) {
        if (k.keyCode == 13) {
          k.preventDefault();
          return false;
        }
      });
      document.getElementById('story').addEventListener('keydown', function(k) {
        if (k.keyCode == 13) {
          k.preventDefault();
          return false;
        }
      });
      // function when data output from index-page
      $('#1').click(function() {
        if (mode == 'development') {
          console.log('proceed button pressed')
        }
        pagestate_ctrl(2)
        setTimeout(function() {
          $('#story').focus();
        }, 1);
        return false;
      });
      // function when data output from title-page
      $('#2').submit(function(e) {
        e.preventDefault();
        if (mode == 'development') {
          console.log('story submitted')
        }
        if ($('#story').val()) {
          story = $('#story').val()
          story = story.trim()
          if (mode == 'development') {
            console.log("This is the new story: " + story)
          }
          pagestate_ctrl(3)
          setTimeout(function() {
            $('#title').focus();
          }, 1);
          return false;
        }
        //
        else {
          if (mode == 'development') {
            console.log("You have not entered a valid story yet")
          }
        }
      });
      // function when data output from story-page
      $('#3').submit(function(e) {
        //e.preventDefault();
        if (mode == 'development') {
          console.log('title submitted')
        }
        if ($('#title').val()) {
          title = $('#title').val()
          title = title.trim()
          //var server_title = $('form#story_form').serialize()
          if (mode == 'development') {
            console.log("This is the new title: " + title)
          }
          //Submit the form via Ajax POST request:
          $.ajax({
            type: 'POST',
            url: '/add_title_story',
            contentType: 'application/json',
            data: JSON.stringify({
              title: title,
              story: story
            }),
            dataType: 'JSON'
          });
          pagestate_ctrl(4)
          return false;
        }
        //
        else {
          if (mode == 'development') {
            console.log("You have not entered a valid story yet")
          }
        }
      });
      // function when data output from thankyou-page
      $('#4').click(function() {
        if (mode == 'development') {
          console.log('return button pressed on thankyou-page')
        }
        $('#story').val("");
        $('#title').val("");
        pagestate_ctrl(1)
        return false;
      });
    });
  </script>

</head>

<body>

  <!-- banner image -->
  <div id="banner_image" class="header">
    <img src="/images/fakenews_strip_01.jpg" />
  </div>

  <h1 class="header">Lets Fake News</h1>

  <!-- landing  -->
  <div id="1" class="landing">
    <p>
      You're a journalist with a deadline but no news to report.
      <br/>Fake-news... Post-truth... just make up a story!
      <br/>
      <br/>Try to trick the Al-Jazeera news-room into broadcasting your fake-news-story!
      <br/>For them to believe, maintain high journalistic standards...
      <br/>
      <br/>Use capital letters appropriately...
      <br/>Be grammatically correct...
      <br/>No spelling errors!
    </p>
    <button id="gototitle" name="gototitle" class="float-left submit-button">PROCEED</button>
  </div>

  <!-- story_input  -->
  <div id="2" class="landing" style="display:none">
    <p>Input the 'phrases' of your story... 280 chars max</p>
    <form id="story_form">
      <textarea id="story" name="storyarea" class="textarea" rows="6" cols="50" wrap="soft" maxlength="280" flex-wrap="wrap" autocomplete="off" required placeholder="Story...">
        </textarea>
      <br/>
      <button>SUBMIT</button>
    </form><br/>
  </div>

  <!-- title_input  -->
  <div id="3" class="landing" style="display:none">
    <p>Input a 'title' of your story... 40 chars max</p>
    <form id="title_form" method="post">
      <textarea id="title" name="titlearea" class="textarea" rows="1" cols="50" wrap="soft" maxlength="40" autocomplete="off" required placeholder="Title...">
      </textarea>
      <br/>
      <button>SUBMIT</button>
    </form><br/>
  </div>

  <!-- thankyou  -->
  <div id="4" class="landing" style="display:none">
    <p>Thank you for your fake-news-story</p>
    <button id="thankyou" name="thankyou" class="float-left submit-button">RETURN</button>
  </div>

</body>

</html>
