<!DOCTYPE html>
<html>

<head>
  <title>
    <%= tabtitle %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript">
    function pagestate_ctrl(div_vis_in) {
      var show_div = '#' + div_vis_in
      var hide_div = 'div:not(#' + div_vis_in + ')'
      $(hide_div).hide()
      $(inputs_container).show();
      $(banner_image_frame).show();
      $(show_div).show()
      if (mode == 'development') {
        console.log('pagestate val in: ' + div_vis_in)
      }
      if (div_vis_in == 1) {
        //$("#banner_image_frame").show()
      } else {
        //$("#banner_image_frame").hide()
      }
    }

    function pagestate_alloff() {
      $('div:not(#0)').hide()
      $("#banner_image").show()
    }
  </script>
  <script>
    // ENV mode for console.logging
    var mode
    var title
    var story
    var feedback
    $(document).ready(function() {
      //Submit request for systems ENV-mode:
      $.ajax({
        type: 'GET',
        url: '/mode',
        success: function(response) {
          mode = response
          pagestate_ctrl(1)
          console.log('client_mode: ' + mode)
        },
        error: function(request, textStatus, errorThrown) {
          console.log('client_mode not reported')
        }
      });
      // disable RETURN key in text areas
      document.getElementById('title').addEventListener('keydown', function(k) {
        if (k.keyCode == 13) {
          k.preventDefault();
          return false;
        }
      });
      document.getElementById('story').addEventListener('keydown', function(k) {
        if (k.keyCode == 13) {
          k.preventDefault();
          return false;
        }
      });
      // index-page
      $('#1').click(function() {
        if (mode == 'development') {
          console.log('proceed button pressed')
        }
        pagestate_ctrl(2)
        setTimeout(function() {
          $('#story').focus();
        }, 1);
        return false;
      });
      // submission from story page
      $('#2').submit(function(e) {
        //e.preventDefault();
        if (mode == 'development') {
          console.log('story submitted')
        }
        if ($('#story').val()) {
          story = $('#story').val()
          story = story.trim()
          if (mode == 'development') {
            console.log("This is the new story: " + story)
          }
          pagestate_ctrl(3)
          setTimeout(function() {
            $('#title').focus();
          }, 1);
          return false;
        }
        //
        else {
          if (mode == 'development') {
            console.log("You have not entered a valid story yet")
          }
        }
      });
      // submission from title-page
      $('#3').submit(function(e) {
        //e.preventDefault();
        if (mode == 'development') {
          console.log('title submitted')
        }
        if ($('#title').val()) {
          title = $('#title').val()
          title = title.trim()
          //var server_title = $('form#story_form').serialize()
          if (mode == 'development') {
            console.log("This is the new title: " + title)
          }
          //Submit the form via Ajax POST request:
          $.ajax({
            type: 'POST',
            url: '/add_title_story',
            contentType: 'application/json',
            data: JSON.stringify({
              title: title,
              story: story
            }),
            dataType: 'JSON'
          });
          pagestate_ctrl(4)
          return false;
        }
        //
        else {
          if (mode == 'development') {
            console.log("You have not entered a valid story yet")
          }
        }
      });
      // goto index-page
      $('#Goto_Start').click(function() {
        if (mode == 'development') {
          console.log('Goto_Start button pressed on thankyou-page')
        }
        $('#story').val("");
        $('#title').val("");
        pagestate_ctrl(2)
        setTimeout(function() {
          $('#story').focus();
        }, 1);
        return false;
      });
      // goto feedback-page
      $('#Goto_Feedback').click(function() {
        if (mode == 'development') {
          console.log('Goto_Feedback button pressed on thankyou-page')
        }
        pagestate_ctrl(5)
        return false;
      });
      // submission from feedback-page
      $('#5').submit(function(e) {
        //e.preventDefault();
        if (mode == 'development') {
          console.log('Feedback submitted')
        }
        if ($('#feedback').val()) {
          feedback = $('#feedback').val()
          feedback = feedback.trim()
          if (mode == 'development') {
            console.log("This is the feedback: " + feedback)
          }
          //Submit the form via Ajax POST request:
          $.ajax({
            type: 'POST',
            url: '/add_feedback',
            contentType: 'application/json',
            data: JSON.stringify({
              feedback: feedback
            }),
            dataType: 'JSON'
          });
          pagestate_ctrl(4)
          return false;
        }
        //
        else {
          if (mode == 'development') {
            console.log("You have not entered valid feedback yet")
          }
        }
      });

    });
  </script>

</head>

<body>

  <!-- banner image -->
  <div id="banner_image_frame">
    <img id="banner_image" src="/images/fakenews_strip_01.jpg" />
  </div>

  <div id="inputs_container">

    <h1 class="public_header">Lets Fake News</h1>

    <!-- landing  -->
    <div id="1" class="public_body" style="display:none">
      <p>
        You're a journalist with a deadline but no news to report.
        <br/>Fake-news... Post-truth... just make up a story!
        <br/>
        <br/>Trick the Al-Jazeera news-room into broadcasting your fake-news-story.
        <br/>For them to believe, maintain high journalistic standards...
        <br/>
        <br/>Use capitals appropriately... Be grammatically correct... No spelling errors!
      </p>
      <button id="gototitle" class="button" name="gototitle">PROCEED</button>
    </div>

    <!-- story_input  -->
    <div id="2" class="public_body" style="display:none">
      <p>Input the 'phrases' of your story... 280 chars max</p>
      <form id="story_form">
        <textarea id="story" name="storyarea" class="textarea" rows="6" cols="30" wrap="soft" maxlength="280" flex-wrap="wrap" autocomplete="off" required placeholder="Story...">
        </textarea>
        <br/>
        <button class="button">SUBMIT</button>
      </form><br/>
    </div>

    <!-- title_input  -->
    <div id="3" class="public_body" style="display:none">
      <p>Input a 'title' of your story... 30 chars max</p>
      <form id="title_form" method="post">
        <textarea id="title" name="titlearea" class="textarea" rows="1" cols="30" wrap="soft" maxlength="30" autocomplete="off" required placeholder="Title...">
      </textarea>
        <br/>
        <button class="button">SUBMIT</button>
      </form><br/>
    </div>

    <!-- thankyou  -->
    <div id="4" class="public_body" style="display:none">
      <p>Thank you for your fake-news-story.
        <br/>Feel free to leave feedback or start again.
      </p>
      <button id="Goto_Start" name="thankyou" class="button">RESTART</button>
      <br/>
      <br/>
      <button id="Goto_Feedback" name="feedback" class="button_wide">LEAVE FEEDBACK</button>

    </div>

    <!-- feedback_input  -->
    <div id="5" class="public_body" style="display:none">
      <p>Leave feedback for the artist/designers... 280 chars max</p>
      <form id="feedback_form">
        <textarea id="feedback" name="feedbackarea" class="textarea" rows="6" cols="30" wrap="soft" maxlength="280" flex-wrap="wrap" autocomplete="off" required placeholder="Story...">
        </textarea>
        <br/>
        <button class="button">SUBMIT</button>
      </form><br/>
    </div>

  </div>


</body>

</html>
