<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    <%= tabtitle %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- load debug script -->
  <script type="text/javascript" src="/javascripts/debug_browserify.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Local CSS to override some bootstrap methods -->
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <!-- state-control module -->
  <script defer src="/javascripts/pagestate_control.js"></script>
  <!-- jQuery -->
  <script defer src="/javascripts/jquery_feedback.js"></script>
</head>

<body class="bg" id="bg_frame">
  <!-- header -->
  <header id="header_frame">
    <img class="img-responsive" id="header_image" src="/images/header.jpg">
  </header>
  <!-- row containing columns of content -->
  <main class="row"><br>
    <!-- column as left blank-strip -->
    <aside id="left_col" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></aside>
    <!-- column as middle content-strip -->
    <article id="middle_col" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <!-- db list of feedback  -->
      <section class="section" id="1">
        <h1>Database: Feedback</h1>
        <table id="feedback" class="table table-bordered" style="background-color: white">
          <thead class="thead-dark">
            <th id="#" style="width:5%">#</th>
            <th id="Feedback" style="width:95%">Feedback</th>
          </thead>
          <tbody>
            <% feedback.forEach((entry,index) => { %>
            <tr>
              <% entry._id %>
              <td>
                <%= index+1 %>
              </td>
              <td>
                <%= entry.feedback %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </article>
    <!-- column as right blank-strip -->
    <aside id="right_col" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></aside>
  </main>
</body>

</html>
