html, body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

.button, .button_wide {
  background: grey;
  padding: 10px;
  border-radius: 10px;
  font-size: 36px;
}

.button {
  width: 240px;
  /*width: 100%;*/
  /*height: 100px;*/
}

.button_wide {
  width: 340px;
  /*width: 100%;*/
  /*height: 100px;*/
}

.public_header {
  position: relative;
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  left: 20px;
  top: 140px;
}

.public_body {
  position: relative;
  font-size: 36px;
  font-weight: normal;
  text-align: left;
  left: 20px;
  top: 120px;
}

.textarea {
  font-size: 36px;
  font-weight: normal;
  position: relative;
  text-align: left;
}

.popup_title {
  font-size: 48px;
  font-weight: bold;
}

#button_div {
  position: relative;
}

#videoContainer {
  /* colour outline */
  /*
  border: 2px solid blue;
  */
  background: black;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

#videoPlayer {
  /* colour outline */
  /*
  border: 2px solid red;
  */
  position: relative;
  width: 100%;
  display: flex;
}

#popup_title {
  font-size: 40px;
  position: absolute;
  bottom: 13.0%;
}

#image_frame {
  /* colour outline */
  /*
  border: 2px solid white;
  background: white;
  */
  position: absolute;
  top: 8%;
  left: 2%;
  width: 54%;
  height: 62%;
}

#image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#banner_image_frame {
  /* colour outline
  border: 2px solid green;
  background: black;
  */
  position: relative;
  /*display: flex;*/
  width: 100%;
  height: auto;
}

#banner_image {
  /*
  border: 2px solid black;
  background: green;
  max-width: 100%;
  max-height: 5%;
  display: inline-block;
  */
  position: absolute;
  width: 100%;
  height: auto;
  /*overflow: hidden;
  margin: auto;*/
  /*object-fit: contain;*/
  /*
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  */
}

.scroll-left {
  /* colour outline */
  /*
  border: 1px solid white;
  */
  margin: 25px auto;
  /* location */
  position: absolute;
  bottom: 13.0%;
  width: 100%;
  height: 90px;
  /* text layout in marquee */
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.scroll-left p {
  font-size: 46px;
  width: 110%;
  height: 100%;
  line-height: 100px;
  margin: 0;
  text-align: center;
  /* Starting position */
  /*
  transform: translateX(100%);
  */
  /* Apply animation to this element  23.5s */
  animation: scroll-left 24s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll-left {
  0% {
    text-indent: 100%
  }

  100% {
    text-indent: -200%
  }
}

@keyframes scroll-left-alt {
  0% {
    translateX: 100%
  }

  100% {
    translateX: -100%
  }
}
