/* customisation */
.form-responsive {
  font-size: 100%;
  padding: 1% 4%;
}

.btn-responsive {
  font-size: 100%;
  line-height: 1;
}

.row {
  min-height: 100%;
  overflow: hidden;
}

#left_col, #right_col, #middle_col {
  /*align-items: center;*/
}

.bg {
  /* The image used */
  background-image: url("../images/bgd.jpg");
  /* Full height */
  height: 100%;
  position: absolute;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  align: center;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  align: center;
  text-align: center;
}

.image_frame {
  /* colour outline */
  border: 2px solid white;
  background: white;
  position: relative;
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  body {
    font-size: 16px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  body {
    font-size: 16px;
  }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  body {
    font-size: 18px;
  }
}

/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  body {
    font-size: 18px;
  }
}
