.form-responsive {
  font-size: 100%;
  padding: 1% 4%;
}

/* responsive button size */

.btn-responsive {
  font-size: 100%;
  line-height: 1;
}

.footer {
  position: fixed;
  height: 10%;
  bottom: 0;
  width: 100%;
  align: center;
  text-align: center;
}

/* Extra small devices (phones, up to 480px) */

@media screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  body {
    font-size: 16px;
  }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  body {
    font-size: 16px;
  }
}

/* tablets/desktops and up ----------- */

@media (min-width: 992px) and (max-width: 1199px) {
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  body {
    font-size: 18px;
  }
}

/* large desktops and up ----------- */

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  body {
    font-size: 18px;
  }
}
