body {
  /*
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;*/
  font: Arial Black, sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: normal;
}

.textarea {
  /*width: 300px;
  height: 20px;*/
  /*overflow: hidden;
  overflow-wrap: break-word;
  resize: none;*/
}

#banner_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing {
  position: relative;
  text-align: left;
  left: 20px;
}

.video_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* required
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;*/
  /* For multi line centering:
  flex-wrap: wrap;*/
}

.video_player {
  height: auto;
  vertical-align: middle;
  width: 70%;
}

.video_overlays {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* required
  position: relative;*/
}

#popup_title {
  text-align: center;
  position: relative;
  top: 190px;
}

#image_frame, #image {
  border: 2px solid white;
  background: green;
  width: 35%;
  height: 65%;
  position: relative;
  bottom: 70px;
  left: 250px;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

#videoContainer {
  border: 2px solid blue;
}

#videoPlayer {
  border: 2px solid red;
}

.scroll-left {
  /* marquee box outline */
  border: 1px solid #000;
  margin: 25px auto;
  /* position */
  position: relative;
  width: 120%;
  height: 90px;
  top: 190px;
  right: 220px;
  /* text layout in marquee */
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.scroll-left p {
  font-size: 48px;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 100px;
  text-align: center;
  /* Starting position
  transform: translateX(100%);*/
  /* Apply animation to this element */
  animation: scroll-left 24s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll-left {
  0% {
    text-indent: 100%
  }
  100% {
    text-indent: -100%
  }
}
