<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/display.css'>
  <!-- setup Title Tab -->
  <title>
    <%= tabtitle %>
  </title>
  <!-- load debug script -->
  <script type="text/javascript" src="/javascripts/debug_browserify.js"></script>
  <!-- load jQuery -->
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <!-- jQuery methods -->
  <script src="javascripts/jquery_display.js"></script>
</head>

<body>
  <!-- fullscreen scripts -->
  <script src="/screenfull/dist/screenfull.js"></script>
  <script>
    $(function() {
      $('#btnFullscreen').click(function() {
        if (mode == 'development') {
          console.log('click');
        }
        screenfull.toggle($('#videoContainer')[0]);
      });

      function fullscreenchange() {
        var elem = screenfull.element;
        $('#status').text('Is fullscreen: ' + screenfull.isFullscreen);
        if (elem) {
          $('#element').text('Element: ' + elem.localName + (elem.id ? '#' + elem.id : ''));
        }
        if (!screenfull.isFullscreen) {
          $('#external-iframe').remove();
          document.body.style.overflow = 'auto';
        }
      }
      screenfull.on('change', fullscreenchange);
      // Set the initial values
      fullscreenchange();
    });
  </script>

  <!-- video block -->
  <div id="videoContainer">

    <video id="videoPlayer" preload="metadata" autoplay="true" controls> video not supported
      <source src="/videos/aljazeera-desktop.m4v">
      </source>
    </video>

    <!-- popup title -->
    <div id="popup_title" style="display:none">
      <p id="popup_title_text">Default popup-title text... </p>
    </div>

    <!-- image frame       -->
    <div id="image_frame" style="display:none">
      <!-- image url overlays       -->
      <img id="image" style="display:none" />
    </div>

    <!-- scrolling text       -->
    <div id="scroller" class="scroll-left" style="display:none">
      <p id="scroller_text">Default scrolling story text... </p>
    </div>


  </div>

  <!-- fullscreen toggle button -->
  <div id="button_div">
    <p>
      <button id="btnFullscreen" type="button">Fullscreen</button>
    </p>
  </div>

</body>

</html>
